<div   class="contentTable">
    <div>
        <h1  class="text-center">
          <span  class="style">F</span>
          ormula
          <span  class="style">1</span>
          <span  class="style">C</span>
          HAMPIONSHIP</h1>
        </div>

    <btn-races-component *ngIf="!router.url.includes('driver')" >
    <li *ngFor="let race of races " slot="btn-races" ><a class="dropdown-item"    [routerLink]="['/ranking/',race.name]" >{{race.name}}</a></li>
        
    </btn-races-component>
    <br>
    <br>
    <button class="btn btn-primary btn-back" (click)="onBack();" *ngIf="router.url.includes('driver')">Back</button>
</div>
